body { 
  font-family: sans-serif;
  background: cadetblue;
}

.App { 
  position: relative;
  max-width: 100%;
  margin: 0;
}

.container {
  position: absolute;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.App h1 { 
  font-size: 3rem;
  margin: 4rem 0 0 0;
}

.App p {
  color: 3 rem;
  font-size: 1.6rem;
}

.input-wrapper { 
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  /* background: red; */
}

.input-wrapper label { 
  display: inline-block;
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 4px;
  background:rgb(81, 12, 241); 
  color: #fff;
}

.input-wrapper input[type="file"] {
  display: none;
  position: absolute;
  left: 26px;
  top: 6px;
  z-index: -1;
  font-size: 15px;
  color: #1a1a11;
}

.result { 
  margin-top: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
  /* background: yellow; */
}

.result .box-image { 
  /* background: coral; */
  padding: 1rem;
}

.result .box-p {
  /* background: red; */
  width: 80%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-self: center;
}

.result img { 
  object-fit: contain;

}

.result p {
  line-height: 1.5rem;
  font-size: 1rem;
  width: 100%;
  height: 200px;
  text-align: center;
}



@media (min-width: 20000px) { 
  .result {
    grid-template-columns: 1fr 1fr;
  }
}